!!!
%html
  %head
    %meta{"http-equiv"=>"Content-Type",:content=>"text/html; charset=UTF-8"}
    %script{:src=>"/js/lib/jquery-1.6.1.min.js"}
    %script{:src=>"/js/sc.js"}
    %link{:rel=>"stylesheet", :type=>"text/css",:href=>"/css/main.css"}
    %title Simple Chat
  %body
    = yield
